@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Permanent+Marker|Vollkorn);
/* line 1, ../../../../../Users/katie/.rvm/gems/ruby-2.2.0/gems/toolkit-2.9.0/stylesheets/toolkit/_kickstart.scss */
html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 11, ../../../../../Users/katie/.rvm/gems/ruby-2.2.0/gems/toolkit-2.9.0/stylesheets/toolkit/_kickstart.scss */
*, *:before, *:after {
  box-sizing: inherit;
}

/* line 15, ../../../../../Users/katie/.rvm/gems/ruby-2.2.0/gems/toolkit-2.9.0/stylesheets/toolkit/_kickstart.scss */
embed,
img,
object,
video {
  max-width: 100%;
  height: auto;
}

/**
 * $ABSTRACTIONS-TYPOGRAPHY
 */
/**
 * $COLORS
 */
/**
 * $VARIABLES-LAYOUT
 */
/**
 * $LEGACY
 */
/**
 * $VARIABLES - TYPOGRAPHY
 */
/**
 * $LINKS
 */
/* line 5, ../sass/base/_links.scss */
a {
  color: #999;
  -moz-transition: all 300ms;
  -o-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  text-decoration: none;
  border-bottom: 1px solid #404040;
}
/* line 11, ../sass/base/_links.scss */
a:hover, a:focus {
  color: #666;
  border-color: #2e2e2e;
}

/**
 * $ROOT
 */
/* line 7, ../sass/base/_root.scss */
html {
  color: #fff;
  font-family: "Droid Sans", Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.6em;
}

/* line 14, ../sass/base/_root.scss */
html,
body {
  margin: 0;
  padding: 0;
}

/**
 * $BASE-TYPOGRAPHY
 */
/* line 5, ../sass/base/_typography.scss */
h1,
h2,
h3 {
  font-weight: normal;
  margin-top: 0;
  margin-bottom: .85em;
  line-height: 1.4em;
}

/* line 14, ../sass/base/_typography.scss */
h1 {
  font-size: 52px;
  font-size: 2.88889rem;
  font-family: "Permanent Marker", "Brush Script MT", cursive;
  text-align: center;
  margin-bottom: .7em;
}

/* line 21, ../sass/base/_typography.scss */
h2,
h3 {
  font-size: 24px;
  font-size: 1.33333rem;
  font-family: "Volkhov", Cambria, Georgia, serif;
}

/* line 27, ../sass/base/_typography.scss */
h2 {
  color: #bfbfbf;
}

/* line 31, ../sass/base/_typography.scss */
h3 {
  font-size: 20px;
  font-size: 1.11111rem;
  line-height: 1.6em;
  margin-bottom: .95em;
}

/* line 37, ../sass/base/_typography.scss */
p {
  margin: 0 0 1.2em 0;
}
/* line 40, ../sass/base/_typography.scss */
p:first-of-type {
  font-size: 20px;
  font-size: 1.11111rem;
  line-height: 1.6em;
}
/* line 45, ../sass/base/_typography.scss */
p:last-of-type {
  margin-bottom: 0;
}

/**
 * $DEFAULT
 */
/* line 5, ../sass/layout/_default.scss */
body {
  background: #000;
}

/* line 9, ../sass/layout/_default.scss */
header {
  overflow: hidden;
  position: relative;
  z-index: 10;
  padding: 10px 0;
}

/* line 16, ../sass/layout/_default.scss */
.logo {
  width: 30px;
  -moz-transition: all 300ms;
  -o-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  float: left;
  font-size: 0;
  line-height: 0;
}
/* line 23, ../sass/layout/_default.scss */
.logo:hover, .logo:focus {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
/* line 28, ../sass/layout/_default.scss */
.logo a {
  border: 0;
}

/* line 33, ../sass/layout/_default.scss */
.l-navigation {
  float: right;
}
/* line 36, ../sass/layout/_default.scss */
.l-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 42, ../sass/layout/_default.scss */
.l-navigation li {
  padding-right: 30px;
  display: inline-block;
}
/* line 46, ../sass/layout/_default.scss */
.l-navigation li:last-child {
  padding-right: 0;
}
/* line 51, ../sass/layout/_default.scss */
.l-navigation li.active a {
  color: #999;
  border-bottom: 0;
}
/* line 55, ../sass/layout/_default.scss */
.l-navigation li.active a:hover, .l-navigation li.active a:focus {
  color: #999;
}
/* line 63, ../sass/layout/_default.scss */
.l-navigation a {
  text-transform: uppercase;
  color: #fff;
  border: 0;
  font-size: 14px;
  font-size: 0.77778rem;
  font-weight: 700;
  font-family: "Volkhov", Cambria, Georgia, serif;
  letter-spacing: .15em;
}
/* line 72, ../sass/layout/_default.scss */
.l-navigation a:hover, .l-navigation a:focus {
  color: #999;
}

/* line 79, ../sass/layout/_default.scss */
.l-header--image {
  height: 70vh;
  width: 100%;
  position: relative;
  z-index: 1;
  background: url(../logo.png) center center no-repeat fixed;
  background-size: cover;
}

/* line 88, ../sass/layout/_default.scss */
.l-wrapper {
  max-width: 94%;
  margin: 0 auto;
}

/* line 93, ../sass/layout/_default.scss */
.l-wrapper--content {
  max-width: 720px;
  margin: 0 auto;
  padding: 0 50px;
}

/* line 99, ../sass/layout/_default.scss */
.l-main {
  clear: both;
  z-index: 20;
  position: relative;
  padding-top: 40px;
}

/* line 106, ../sass/layout/_default.scss */
footer {
  margin-top: 60px;
  padding: 20px 0 40px 0;
  border-top: 1px solid #333;
  text-align: right;
  color: #bfbfbf;
}
/* line 113, ../sass/layout/_default.scss */
footer p,
footer p:first-of-type {
  font-size: 14px;
  font-size: 0.77778rem;
}
