/**
 * $ROOT
 */

::selection {
  background: $primary-colour;
  color: #fff;
}

::-moz-selection {
  background: $primary-colour;
  color: #fff;
}

html,
body {
  height: 100%;
  min-height: 100%;
}

html {
  color: $default-colour;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  background: black;
}
