/**
 * $BASE-TYPOGRAPHY
 */

h1,
h2,
h3 {
  font-weight: normal;
  margin-top: 0;
  font-family: $base-font-family;
  line-height: 1.25em;
}

h1 {
  @include font-size(36px);
  margin-bottom: .7em;
  color: #000;
}

h2 {
  @include font-size(20px);
  color: $primary-colour;
  margin-bottom: .7em;
}

h3 {
  @include font-size(14px);
  color: $quaternary-colour;
}
