/**
 * $DEFAULT
 */

body {
  background: $black;
}

header {
  overflow: hidden;
  position: relative;
  z-index: 10;
  padding: 10px 0;
}

.logo {
  width: 30px;
  @include transition($transition);
  float: left;
  font-size: 0;
  line-height: 0;

  &:hover,
  &:focus {
    @include opacity($opacity);
  }

  a {
    border: 0;
  }
}

.l-navigation {
  float: right;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    padding-right: 30px;
    display: inline-block;

    &:last-child {
      padding-right: 0;
    }

    &.active {
      a {
        color: $grey--light;
        border-bottom: 0;

        &:hover,
        &:focus {
          color: $grey--light;
        }
      }
    }
  }

  a {
    text-transform: uppercase;
    color: $white;
    border: 0;
    @include font-size(14px);
    font-weight: 700;
    font-family: $serif-font-family;
    letter-spacing: .15em;

    &:hover,
    &:focus {
      color: $grey--light;
    }
  }
}

.l-header--image {
  height: 70vh;
  width: 100%;
  position: relative;
  z-index: 1;
  background: url(../logo.png) center center no-repeat fixed;
  background-size: cover;
}

.l-wrapper {
  max-width: 94%;
  margin: 0 auto;
}

.l-wrapper--content {
  max-width: 720px;
  margin: 0 auto;
  padding: 0 50px;
}

.l-main {
  clear: both;
  z-index: 20;
  position: relative;
  padding-top: 40px;
}

footer {
  margin-top: 60px;
  padding: 20px 0 40px 0;
  border-top: 1px solid $grey--dark;
  text-align: right;
  color: lighten($grey--light, 15%);

  p,
  p:first-of-type {
    @include font-size(14px);
  }
}
