<div class="l-wrapper">
        <footer>
          <ul class="contact">
            <li><a href="mailto:hello@katherinecory.com" title="Email">Email</a></li>
            <li><a href="http://twitter.com/katherinecory" title="Tweet">Tweet</a></li>
            <li><a href="http://dribbble.com/katherinecory" title="Dribbble">Dribbble</a></li>
          </ul>

          <p class="copyright">Copyright &copy; <a href="http://www.katherinecory.com" title="Katherine Cory Design">Katherine Cory</a> {{ 'now' | date: "%Y" }}</p>
        </footer>
      </div>
