<div class="l-wrapper">
        <footer>
          <ul class="contact">
            <li><a href="mailto:hello@katherinecory.com" title="Email">Email</a></li>
            <li><a href="http://kcory.co/1HRNJQe" title="Twitter">Twitter</a></li>
            <li><a href="http://kcory.co/1K1TctZ" title="Dribbble">Dribbble</a></li>
          </ul>

          <p class="copyright">Copyright &copy; <a href="http://kcory.co/1KrttqO" title="Katherine Cory Design">Katherine Cory</a> {{ 'now' | date: "%Y" }}</p>
        </footer>
      </div>
