<header>
    <div class="l-wrapper">
      <div class="l-branding">
        <div class="logo">
          <a href="/" title="Go back to the homepage">
            {% if page.page-class == "page--light" %}
            <img src="{{ site.baseurl }}/logo--light.svg" alt="Self Branding Woes" alt="" />
            {% else %}
            <img src="{{ site.baseurl }}/logo.svg" alt="Self Branding Woes" alt="" />
            {% endif %}
          </a>
        </div>
      </div>

      <nav class="l-navigation">
        <ul>
          <li{% if page.nav == 'intro' %} class="active"{% endif %}><a href="/" title="Introduction">Intro</a></li>
          <li{% if page.nav == 'previously' %} class="active"{% endif %}><a href="/previously/" title="Previously">Previously</a></li>
        </ul>
      </nav>
    </div>
  </header>
