<header>
    <div class="l-wrapper">
      <div class="l-branding">
        <div class="logo">
          <a href="/" title="Go back to the homepage">
            {% if page.page-class == "light" %}
            <img src="{{ site.baseurl }}/logo--light.svg" alt="Self Branding Woes" alt="" />
            {% else %}
            <img src="{{ site.baseurl }}/logo.svg" alt="Self Branding Woes" alt="" />
            {% endif %}
          </a>
        </div>

        <nav class="l-navigation">
          <ul>
            <li{% if page.url == "/" %} class="active"{% endif %}><a href="/" title="Home">Home</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
