/**
 * $POST
 */

.post {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  border-bottom: 1px solid lighten($grey--light, 25%);

  &.post--light {
    background: $white;

    .post-text {
      background: $white;
      border-right: 1px solid lighten($grey--light, 25%);
    }
  }

  &.post--dark {
    background: $black;

    .post-text {
      background: $black;
      border-right: 1px solid $grey--dark;
    }
  }

  &:last-of-type {
    border-bottom: 0;
  }

  .post-image {
    width: 100%;
    height: 125px;

    @include breakpoint($tab) {
      height: 150px;
    }

    @include breakpoint($desk, true) {
      height: 200px;
    }

    img {
      @include centerer;
    }
  }

  &.post--introduction {
    img {
      top: 0;
      left: 0;
      transform: none;
    }
  }

  .post-text {
    position: absolute;
    z-index: 10;
    padding: 20px;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;

    @include breakpoint(500px, true) {
      width: 60%;
      padding: 20px 40px;
    }

    @include breakpoint($tab, true) {
      width: 50%;
    }

    @include breakpoint(1100px, true) {
      width: 36%;
    }
  }

  h2 {
    font-family: $heading-font-family;
    @include font-size(52px);
    margin-bottom: 0;

    a {
      border: 0;
      color: $white;
    }
  }

  &.post--light {
    h2 {
      a {
        color: $grey--dark;
      }
    }
  }

  h3 {
    color: $grey--light;
    font-style: italic;
    margin-bottom: 0;
    @include font-size(20px);
  }
}
