/**
 * $TWITTER
 */

.twitter {
  overflow: hidden;
  max-width: 1200px;
  margin: 0 auto;

  img {
    display: none;
  }

  &:before {
    content: 'Latest Tweets';
    color: $white;
    font-family: $heading-font-family;
    @include font-size(30px);
  }

  ul {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  li {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    padding: 15px 0;
    color: $white;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid $grey--dark;

    @include breakpoint(530px, true) {
      width: 50%;
      border-right: 1px solid $grey--dark;
      border-bottom: 0;
      padding: 0 3%;
      margin: 10px 0;

      &:first-child {
        margin-top: 20px;
      }

      &:nth-child(2) {
        padding-right: 0;
        border-right: 0;
        margin-top: 20px;
      }

      &:nth-child(3) {
        padding-left: 0;
        margin-bottom: 0;
      }

      &:nth-child(4) {
        margin-bottom: 0;
      }
    }

    @include breakpoint($desk, true) {
      width: 25%;
      padding: 0 2%;
      margin-top: 20px;

      &:nth-child(1) {
        margin-bottom: 0;
      }

      &:nth-child(2) {
        padding-right: 2%;
        margin-bottom: 0;
        border-right: 1px solid $grey--dark;
      }

      &:nth-child(3) {
        padding-left: 2%;
      }
    }

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      border-right: 0;
      border-bottom: 0;
      padding-right: 0;
      padding-bottom: 0;
    }
  }

  p:last-of-type {
    margin-bottom: 0;
  }
}
