/**
 * $ROOT
 */

@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Permanent+Marker|Vollkorn);

html {
  color: $white;
  font-family: $base-font-family;
  font-size: 14px;
  line-height: $base-line-height;

  @include breakpoint($tab, true) {
    font-size: $base-font-size;
  }
}

html,
body {
  margin: 0;
  padding: 0;
}
