/**
 * $BASE-TYPOGRAPHY
 */

h1,
h2,
h3 {
  font-weight: normal;
  margin-top: 0;
  margin-bottom: .75em;
  line-height: 1.4em;
}

h1 {
  @include font-size(36px);
  font-family: $heading-font-family;
  text-align: center;
  margin-bottom: .1em;

  @include breakpoint($tab, true) {
    @include font-size(52px);
  }
}

h2,
h3 {
  @include font-size(24px);
  font-family: $serif-font-family;

  @include breakpoint($tab, true) {
    @include font-size(24px);
  }
}

h2 {
  color: lighten($grey--light, 15%);
}

h3 {
  @include font-size(16px);
  line-height: $base-line-height;
  margin-bottom: .95em;

  @include breakpoint($tab, true) {
    @include font-size(20px);
  }
}

.alpha {
  text-align: center;
  color: $white;
  margin-bottom: 2em;
}

.beta {
  text-align: center;
  color: $grey;
  font-style: italic;
  margin-bottom: .5em;
}

p {
  margin: 0 0 1.2em 0;

  &:first-of-type {
    @include font-size(20px);
    line-height: 1.6em;
  }
}

img + em,
.caption {
  @include font-size(14px);
  @include opacity(.8);
  font-style: italic;
}

.small {
  @include font-size(14px);
  line-height: 1.4em;
  font-style: italic;
  color: $grey;
}
