/**
 * $DEFAULT
 */

body {
  background: $black;
}

header {
  overflow: hidden;
  position: relative;
  z-index: 10;
  padding: 10px 0;
}

.logo {
  width: 30px;
  @include transition($transition);
  float: left;
  font-size: 0;
  line-height: 0;

  &:hover,
  &:focus {
    @include opacity($opacity);
  }

  a {
    border: 0;
  }
}

.l-navigation {
  float: right;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    padding-right: 30px;
    display: inline-block;

    &:last-child {
      padding-right: 0;
    }

    &.active {
      a {
        color: $grey--light;
        border-bottom: 0;

        &:hover,
        &:focus {
          color: $grey--light;
        }
      }
    }
  }

  a {
    text-transform: uppercase;
    color: $white;
    border: 0;
    @include font-size(14px);
    font-weight: 700;
    font-family: $serif-font-family;
    letter-spacing: .15em;

    &:hover,
    &:focus {
      color: $grey--light;
    }
  }
}

.l-header--image {
  height: 30vh;
  width: 100%;
  position: relative;
  text-align: center;
  z-index: 1;
  background-size: 140% auto !important;

  @include breakpoint(400px) {
    height: 40vh;
  }

  @include breakpoint(640px, true) {
    height: 50vh;
  }

  @include breakpoint($tab) {
    height: 60vh;
  }

  @include breakpoint(860px, true) {
    height: 70vh;
    background-position: center center !important;
    background-size: 100% auto !important;
  }

  @include breakpoint($desk, true) {
    height: 80vh;
  }
}

.l-wrapper {
  width: 94%;
  margin: 0 auto;
}

.l-wrapper--content {
  max-width: 90%;
  margin: 0 auto;

  @include breakpoint(530px) {
    max-width: 480px
  }

  @include breakpoint($tab, true) {
    padding: 0 50px;
    max-width: 720px;
  }
}

.l-main {
  clear: both;
  z-index: 20;
  position: relative;
  padding-top: 40px;
}

footer {
  margin-top: 40px;
  padding: 20px 0 40px 0;
  border-top: 1px solid $grey--dark;
  color: lighten($grey--light, 15%);
  overflow: hidden;
  @include font-size(16px);

  @include breakpoint($tab, true) {
    @include font-size(14px);
    margin-top: 60px;
  }

  .contact {
    margin-bottom: 10px;

    @include breakpoint(530px, true) {
      float: left;
      margin-bottom: 0;
    }
  }

  .copyright {
    @include breakpoint(530px, true) {
      float: right;
    }
  }

  ul,
  li {
    margin: 0;
    padding: 0;
  }

  li {
    display: inline;
    list-style: none;
    padding-right: 20px;

    &:last-child {
      padding-right: 0;
    }
  }

  p,
  p:first-of-type {
    @include font-size(16px);

    @include breakpoint($tab, true) {
      @include font-size(14px);
    }
  }
}
