/**
 * $COLORS
 */

$primary-colour:    #dd042b; // Red
$secondary-colour:  #606060; // Grey Dark
$tertiary-colour:   #e0e0e0; // Grey Light
$quaternary-colour: #b1afaf; // Grey Medium
$default-colour:    #333;
$off-white-colour:  #f0f0f0;
