/**
 * $VARIABLES - TYPOGRAPHY
 */

$base-font-size: 18px;
$base-line-height: 1.6em;

$base-font-family: 'Droid Sans', Candara, Calibri, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
$heading-font-family: 'Permanent Marker', 'Brush Script MT', cursive;
$serif-font-family: 'Volkhov', Cambria, Georgia, serif;
