<!DOCTYPE html>
<html class="{{ page.page-class }}">
  {% include head.html %}
  <body>
    <div class="l-page">
      {% include header.html %}

      <div class="wrapper">
        {{ content }}
      </div>

      {% include footer.html %}
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/svgeezy.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/twitter-post-fetcher.js"></script>
    <script src="{{ site.baseurl }}/assets/js/picturefill.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/fitvid.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/snippets.js"></script>
  </body>
</html>
